---
---
@import "{{ site.theme }}";

.main-content h1, .header h1{
	color:orange!important;
}
.bienvenido, .main-content h2{
	color:blue;	
}

.main-content h2:nth-child(1){
	color:black!important;		
}